{% set theme = theme ?? 'default' -%}
{% set dark = dark ?? true -%}
{% set colorful = colorful ?? false -%}
{% set heading = heading ?? true -%}
{% set footer = footer ?? false -%}
{% set sticky = sticky ?? true -%}
<div class="panel {{- ' panel-' ~ theme }} {{- dark ? ' panel-dark' }} {{- colorful ? ' panel-body-colorful' }}">
    {% if heading %}
        <div class="panel-heading">
            <span class="panel-title">{% block title '' %}</span>
            <div class="panel-heading-controls">
                {% block controls %}
                    <button class="btn btn-xs btn-secondary" data-ruwidget="reload"><i class="fa fa-refresh"></i></button>
                {% endblock %}
            </div>
        </div>
    {% endif %}
    <div class="panel-body">
        {% block body '' %}
    </div>
    {% if footer %}
        <div class="panel-footer {{- sticky ? ' panel-footer-sticky' }}">
            {% block footer '' %}
        </div>
    {% endif %}
</div>
