{% extends '@RuworkAdmin/widgets/basic.html.twig' %}

{% form_theme form form_theme|default('@RuworkAdmin/forms.html.twig') %}

{% block before form_start(form, {attr: {novalidate: true}}) %}

{% block body form_rest(form) %}

{% block footer %}
    <button class="btn btn-primary">Sumbit</button>
{% endblock %}

{% block after form_end(form) %}
