{% extends '@RuworkAdmin/widgets/table.html.twig' %}

{% block body_container %}
    {% if length|default(items|default([])|length) %}
        {{ parent() }}
    {% else %}
        <div class="px-block-alerts">
            <div class="alert alert-info">
                Объекты отсутствуют
            </div>
        </div>
    {% endif %}
{% endblock %}
