{% extends '@RuventsAdmin/base.html.twig' %}

{% trans_default_domain 'ruvents_admin' %}

{% block main %}
    {% if entity_config.create.enabled %}
        <div class="mb-g">
            <a href="{{ path('ruvents_admin_create', {ruvents_admin_entity: entity_config.name}) }}" class="btn btn-primary">{{ 'Create'|trans }}</a>
        </div>
    {% endif %}

    <div class="card mb-g">
        <table class="table table-bordered">
            <thead>
            <tr>
                {% for field in entity_config.list.fields %}
                    <th>{{ field.title|default((field.propertyPath|default(field.type))|humanize|trans) }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for entity in paginator.items %}
                <tr>
                    {% for field in entity_config.list.fields %}
                        <td>
                            {{ ruvents_admin_render_list_field(entity_config.name, entity, field.propertyPath, field.type) }}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <nav class="sticky-bottom">
        {% set route = app.request.attributes.get('_route') %}
        {% set route_params = app.request.attributes.get('_route_params', []) %}
        {% embed '@RuventsPaginator/bootstrap_4.html.twig' with {paginator: paginator, class: 'justify-content-center'} %}
            {% trans_default_domain 'ruvents_admin' %}

            {% block href path(route, route_params|merge({page: page.first ? null : page.number})) %}

            {% block previous_label 'Previous'|trans %}

            {% block next_label 'Next'|trans %}
        {% endembed %}
    </nav>
{% endblock %}
