.panel {
  > .px-block-alerts {
    &:last-child {
      margin-bottom: -1px;
    }
  }
}

.panel-filter {
  padding: 15px 20px;
  margin-bottom: -1px;
  background-color: lighten($brand-warning, 37%);
  border-bottom: 1px solid rgba(0, 0, 0, .05);
}

@each $theme, $color in (primary: $brand-primary, success: $brand-success, danger: $brand-danger, warning: $brand-warning, info: $brand-info) {
  .panel-flash-#{$theme} {
    animation: panel-flash-#{$theme} 5s 1;
  }

  @keyframes panel-flash-#{$theme} {
    0% {
      border-color: $color;
    }
  }
}
