.panel {
  > .px-block-alerts {
    &:last-child {
      margin-bottom: -1px;
    }
  }
}

.panel-footer-sticky {
  position: sticky;
  bottom: 0;
  z-index: 1;
}

@each $theme, $color in (primary: $brand-primary, success: $brand-success, danger: $brand-danger, warning: $brand-warning, info: $brand-info) {
  .panel-flash-#{$theme} {
    animation: panel-flash-#{$theme} 5s 1;
  }

  @keyframes panel-flash-#{$theme} {
    0% {
      border-color: $color;
    }
  }
}
