.ruwidget {
  $margin-fix: 1px;

  position: relative;
  display: block;
  padding-top: $margin-fix;
  margin-top: -$margin-fix;
  padding-bottom: $margin-fix;
  margin-bottom: -$margin-fix;
}

.ruwidget-ajax-pending {
  .panel {
    position: relative;

    &:after {
      position: absolute;
      display: block;
      z-index: 1;
      content: '';
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: white;
      opacity: .5;
    }
  }
}
